
@{
    List<PluSystemVolunteer.Models.Usuario> usuarios = ViewBag.Usuarios;
    List<PluSystemVolunteer.Models.Evento> eventos = ViewBag.Eventos;
    int idUsuario = Convert.ToInt32(HttpContext.Current.Session["usuario"]);
    int admin = Convert.ToInt32(HttpContext.Current.Session["administrador"]);
    

}


@foreach (PluSystemVolunteer.Models.Evento evento in eventos)
{
}
<div class="offset-1 col-md-8">

    <div class="event_title"><h3>Eventos Disponíveis para Inscrição</h3></div>


    @foreach (PluSystemVolunteer.Models.Evento evento in eventos)
    {
        <div class="event_div">
            <div class="text-center">
                <h1>@evento.Descricao na data: @evento.Data</h1>
                <p>Local do Evento:@evento.Logradouro</p>
                <p>@evento.Bairro</p>
                <p>@evento.Complemento</p>
                <p>CEP:@evento.Cep</p>
                <p>Preço:@evento.Preco</p>
                @*<input style="margin-bottom:50px" value="Inscrever-se" type="submit" class="btn btn-success text-center">*@
                @Html.ActionLink("Inscrever-se", "InscreverEvento", "Usuario", new { idEvento = evento.EventoId , idUsuario = idUsuario}, new { @class = "btn btn-success text-center" })

                @{

                    if (admin != 0)
                    {
                        @Html.ActionLink("Lista Presença", "Index", "ListaPresenca", new { idEvento = evento.EventoId }, new { @class = "btn btn-success text-center" })

                    } }
               


                <iframe width="200" height="200" frameborder="0" style="border:1px; margin-left:70%"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDjbkAwBCeh_B2K7kqc0n_ovPm3g8raobU&q=@evento.Logradouro+@evento.Bairro+@evento.Cep+BR" allowfullscreen></iframe>

            </div>


        </div>
        <br>
    }


</div>
<div class="sidenav">
    <h3 class="text-center" style="color:#9C9C9C">RANKING Voluntários</h3>
    <hr>

    @{int i = 0; }
    @foreach (PluSystemVolunteer.Models.Usuario usuario in usuarios)
    {
        i++;
        if (i == 1)
        {
            <h4 class="text-center">
                <img src="~/Content/img/icon-champtier-1.png">@usuario.Nome
            </h4>
        }
        if (i == 2)
        {
            <h4 class="text-center">
                <img src="~/Content/img/icon-champtier-2.png">@usuario.Nome
            </h4>
        }
        if (i == 3)
        {
            <h4 class="text-center">
                <img src="~/Content/img/icon-champtier-3.png">@usuario.Nome
            </h4>
        }
        if (i == 4)
        {
            <h4 class="text-center">
                <img src="~/Content/img/icon-champtier-4.png">@usuario.Nome
            </h4>
        }
        if (i > 4)
        {
            <h4 class="text-center">
                <img src="~/Content/img/icon-champtier-5.png">@usuario.Nome
            </h4>
        }
    }


</div>

